<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MVGR DATA ENGINEERING</title>
        <link rel="stylesheet" href="styles.css">
        <script src="scripts.js"></script>
        <link rel="icon" type="image/png" sizes="32x32" href="/static/images/department_logo.png">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/adminstyles.css' %}">
        <script src="{% static 'js/scripts.js' %}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <header>
            <div id="college_title">
                <div id="college_logo">
                    <a href="https://www.mvgrce.com/" target="_blank">
                        <img src="{% static 'images/college_logo.png' %}" alt="college_logo">
                    </a>
                </div>
                <div id="college_sub_title">
                    <h1>Maharaj Vijayaram Gajapathi Raj College of Engineering (Autonomous)</h1>
                    <h1 id="dept_name1">Department Of Data Engineering Admin Page</h1>
                </div>
                <div id="department_logo">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'images/department_logo.png' %}" alt="college_logo">
                    </a>
                </div>
            </div>
            <div class="navbar-in-admin">
                <ul>
                    <li><a class="nav-link" href="{% url 'adminpage' %}"><span>Home</span></a></li>
                    <li><a class="nav-link" href="{% url 'adminregulation' %}"><span>Regulation</span></a></li>
                    <li><a class="nav-link" href="{% url 'adminlibrary' %}"><span>Library</span></a></li>
                </ul>
            </div>
        </header>
        <div class="addusers">
            <a href="{% url 'adminaddusers' %}">
                <div>
                    <img src="https://cdn-icons-png.flaticon.com/512/153/153643.png" alt="adduser">
                    <span>Add User</span>   
                </div></a>
        </div>
        <div class="addbooks">
            <a href="{% url 'admin_addbooks' %}">
                <div>
                    <img src="https://cdn-icons-png.flaticon.com/512/29/29809.png" alt="adduser">
                    <span>Add Books</span>   
                </div></a>
        </div>
        <div class="issuebooks">
            <a href="{% url 'adminissuebook' %}">
                <div>
                    <img src="https://cdn-icons-png.flaticon.com/512/3375/3375254.png" alt="issuebook">
                    <span>Issue Book</span>
                </div>
            </a>
        </div>
    </body>
</html>
