<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MVGR DATA ENGINEERING</title>
        <link rel="stylesheet" href="styles.css">
        <script src="scripts.js"></script>
        <link rel="icon" type="image/png" sizes="32x32" href="/static/images/department_logo.png">
        <!-- Load static template tags -->
        {% load static %}
        <!-- Reference static CSS file -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <!-- Reference static JavaScript file -->
        <script src="{% static 'js/scripts.js' %}"></script>
    </head>
    <body>
        <header>
            <div id="college_title">
                <div id="college_logo">
                    <a href="https://www.mvgrce.com/" target="_blank">
                        <img src="{% static 'images/college_logo.png' %}" alt="college_logo">
                    </a>
                </div>
                <div id="college_sub_title">
                    <h1>Maharaj Vijayaram Gajapathi Raj College of Engineering (Autonomous)</h1>
                    <h1 id="dept_name1">Department Of Data Engineering</h1>
                </div>
                <div id="department_logo">
                    <a href="{% url 'index' %}" target="_parent">
                        <img src="{% static 'images/department_logo.png' %}" alt="college_logo">
                    </a>
                </div>
            </div>
            <div id="nav_bar">
                <ul id="navbar">
                    <li><a class="nav-link" href="{% url 'index' %}"><span>Home</span></a></li>
                    <li><a class="nav-link" href="{% url 'about' %}"><span>About</span></a></li>
                    <li><a class="nav-link" href="{% url 'faculty' %}"><span>Faculty</span></a></li>
                    <li><a class="nav-link" href="{% url 'regulation' %}"><span>Regulation</span></a></li>
                    <li><a class="nav-link" href="{% url 'librarylogin' %}"><span>Library</span></a></li>
                    <li><a class="nav-link" href="{% url 'attendance' %}"><span>Attendance</span></a></li>
                    <li><a class="nav-link" href="{% url 'contact' %}"><span>Contact</span></a></li>
            </div>
            <div class="dropdown">
                <button class="dropbtn">&#9776;</button>
                <div class="dropdown-content">
                    <a href="{% url 'index' %}">Home</a>
                    <a href="{% url 'about' %}">About</a>
                    <a href="{% url 'faculty' %}">Faculty</a>
                    <a href="{% url 'regulation' %}">Regulation</a>
                    <a href="{% url 'attendance' %}">Attendance</a>
                    <a href="{% url 'contact' %}">Contact</a>
                </div>
              </div>
        </header>
        <div id="contact_us">
            <h2 id="contact_title">Contact Us</h2>
            <div id="contact_us_academic">
                <div id="contact_academic">
                    <p style="font-weight: bold;">DR.P.SATHEESH</p> 
                    <p style="margin-bottom: 20px;">HOD, DATA ENGINEERING</p>
                    <div id="contact_links">
                        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSGKnRCZZGclLpXVKMTHpJWVsWfgmqQHvcwWpckKpJbtJhWSjpGjzcgqZffKKRZFgpPWnRhW" target="_blank" style="color: black;">
                            <div id="contact_links_call" onclick="initiateCall('+91 9246615251')">
                                <img src="{% static 'images/call.png' %}" alt="call">
                                <span>9246615251</span>
                            </div>
                        </a>
                        </a>
                        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSGKnRCZZGclLpXVKMTHpJWVsWfgmqQHvcwWpckKpJbtJhWSjpGjzcgqZffKKRZFgpPWnRhW" target="_blank" style="color: black;">
                            <div id="contact_links_email">
                                <img src="{% static 'images/mail.webp' %}" alt="call">
                                <span>satish@mvgrceedu.in</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div id="contact_academic">
                    <p style="font-weight: bold;">MR.V.MANIKANTA</p> 
                    <p style="margin-bottom: 20px;">ASSISTANT PROFESSOR<br>(FACULTY COORDINATOR)</p>
                    <div id="contact_links">
                        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSGKnRCZZGclLpXVKMTHpJWVsWfgmqQHvcwWpckKpJbtJhWSjpGjzcgqZffKKRZFgpPWnRhW" target="_blank" style="color: black;">
                            <div id="contact_links_call" onclick="initiateCall('+91 8978970366')">
                                <img src="{% static 'images/call.png' %}" alt="call">
                                <span>8978970366</span>
                            </div>
                        </a>
                        </a>
                        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSGKnRCZZGclLpXVKMTHpJWVsWfgmqQHvcwWpckKpJbtJhWSjpGjzcgqZffKKRZFgpPWnRhW" target="_blank" style="color: black;">
                            <div id="contact_links_email">
                                <img src="{% static 'images/mail.webp' %}" alt="call">
                                <span>manikantavella48@mvgrceedu.in</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="contact_us_academic">
                <div id="contact_academic">
                    <p style="font-weight: bold;">V.HARSHAVARDHAN</p> 
                    <p style="margin-bottom: 20px;">22331A4765(CIC)<br>STUDENT COORDINATOR</p>
                    <div id="contact_links">
                        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSGKnRCZZGclLpXVKMTHpJWVsWfgmqQHvcwWpckKpJbtJhWSjpGjzcgqZffKKRZFgpPWnRhW" target="_blank" style="color: black;">
                            <div id="contact_links_call" onclick="initiateCall('+91 7675922209')">
                                <img src="{% static 'images/call.png' %}" alt="call">
                                <span>Call Us</span>
                            </div>
                        </a>
                        </a>
                        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSGKnRCZZGclLpXVKMTHpJWVsWfgmqQHvcwWpckKpJbtJhWSjpGjzcgqZffKKRZFgpPWnRhW" target="_blank" style="color: black;">
                            <div id="contact_links_email">
                                <img src="{% static 'images/mail.webp' %}" alt="call">
                                <span>Email</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div id="contact_academic">
                    <p style="font-weight: bold;">P.SOWSHEEL</p> 
                    <p style="margin-bottom: 20px;">22331A4745(CIC)<br>STUDENT COORDINATOR</p>
                    <div id="contact_links">
                        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSGKnRCZZGclLpXVKMTHpJWVsWfgmqQHvcwWpckKpJbtJhWSjpGjzcgqZffKKRZFgpPWnRhW" target="_blank" style="color: black;">
                            <div id="contact_links_call" onclick="initiateCall('+91 7093664846')">
                                <img src="{% static 'images/call.png' %}" alt="call">
                                <span>Call Us</span>
                            </div>
                        </a>
                        </a>
                        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSGKnRCZZGclLpXVKMTHpJWVsWfgmqQHvcwWpckKpJbtJhWSjpGjzcgqZffKKRZFgpPWnRhW" target="_blank" style="color: black;">
                            <div id="contact_links_email">
                                <img src="{% static 'images/mail.webp' %}" alt="call">
                                <span>Email</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <h2>Follow Us On</h2>
        <div id="footer_links">
            <a href="https://www.linkedin.com/in/harshavardhan-vemali-334976259/">
                <img src="https://cdn-icons-png.flaticon.com/512/2673/2673871.png" alt="linked in">
                <span>Linked-in</span>
            </a> 
            <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSHvbKtqXmvxCqTRCSHfKQfrVLczjWpqJkfXMcZgFbWwxldrDnqxDKwLpbgCpTzmCvVQFbrS">
                <img src="https://cdn-icons-png.freepik.com/256/3621/3621435.png?semt=ais_hybrid" alt="Instagram">
                <span>Instagram</span>
            </a>
            <a href="https://github.com/">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/5a/X_icon_2.svg" alt="X">
                <span>Twitter</span>
            </a>
            <a href="https://github.com/">
                <img src="https://cdn-icons-png.flaticon.com/256/1384/1384060.png" alt="Youtube">
                <span>YouTube</span>
            </a>
        </div>
        <h4>&copy; 2024. All rights reserved to <a href="https://harshaswebpage.netlify.app/" target="_blank" rel="noopener noreferrer">V.HarshaVardhan(Dept of Data Engineering)</a>.</h4>
    </footer>
</html>