<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MVGR DATA ENGINEERING</title>
        <link rel="stylesheet" href="styles.css">
        <script src="scripts.js"></script>
        <link rel="icon" type="image/png" sizes="32x32" href="/static/images/department_logo.png">
        <!-- Load static template tags -->
        {% load static %}
        <!-- Reference static CSS file -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <!-- Reference static JavaScript file -->
        <script src="{% static 'js/scripts.js' %}"></script>
    </head>
    </style>
    <body>
        <header>
            <div id="college_title">
                <div id="college_logo">
                    <a href="https://www.mvgrce.com/" target="_blank">
                        <img src="{% static 'images/college_logo.png' %}" alt="college_logo">
                    </a>
                </div>
                <div id="college_sub_title">
                    <h1>Maharaj Vijayaram Gajapathi Raj College of Engineering (Autonomous)</h1>
                    <h1 id="dept_name1">Department Of Data Engineering</h1>
                </div>
                <div id="department_logo">
                    <a href="{% url 'index' %}" target="_parent">
                        <img src="{% static 'images/department_logo.png' %}" alt="college_logo">
                    </a>
                </div>
            </div>
            <div id="nav_bar">
                <ul id="navbar">
                    <li><a class="nav-link" href="{% url 'index' %}"><span>Home</span></a></li>
                    <li><a class="nav-link" href="{% url 'about' %}"><span>About</span></a></li>
                    <li><a class="nav-link" href="{% url 'faculty' %}"><span>Faculty</span></a></li>
                    <li><a class="nav-link" href="{% url 'regulation' %}"><span>Regulation</span></a></li>
                    <li><a class="nav-link" href="{% url 'librarylogin' %}"><span>Library</span></a></li>
                    <li><a class="nav-link" href="{% url 'attendance' %}"><span>Attendance</span></a></li>
                    <li><a class="nav-link" href="{% url 'contact' %}"><span>Contact</span></a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="dropbtn">&#9776;</button>
                <div class="dropdown-content">
                    <a href="{% url 'index' %}">Home</a>
                    <a href="{% url 'about' %}">About</a>
                    <a href="{% url 'faculty' %}">Faculty</a>
                    <a href="{% url 'regulation' %}">Regulation</a>
                    <a href="{% url 'librarylogin' %}">Library</a>
                    <a href="{% url 'attendance' %}">Attendance</a>
                    <a href="{% url 'contact' %}">Contact</a>
                </div>
              </div>
        </header>
        <p id="our_team">Faculty of Data Engineering</p>
    <section id="home">
    <div class="container" id="team_members_container">
        
        <!-- Member 1 -->
        <div class="team_members">
            <div class="member">
                <div class="image-container">
                    <a class="faculty_link" href="facultypage.html?faculty=Dr.P.Satheesh" target="_parent">
                        <img src="https://mvgrce.com/facultymanager/uploads/files/1pfd9aonui_jch4.jpg" alt="Image Description">
                    </a>  
                </div>
                <div class="description-container">
                    <div class="faculty_list">
                        <a class="faculty_link" href="facultypage.html?faculty=Dr.P.Satheesh" target="_parent">
                            <p class="member_name">Dr.P.Satheesh</p>
                        </a>
                        <p>M.Tech, Ph.D<br>HOD<br>DATA ENGINEERING</p>
                        <div class="contact-info">
                            <a href="https://www.linkedin.com/in/harshavardhan-vemali-334976259/" target="_blank">
                                <img src="{% static 'images/mail.webp' %}" alt="email">
                            </a>
                            <a href="https://www.linkedin.com/in/harshavardhan-vemali-334976259/" target="_blank">
                                <img src="{% static 'images/linkedin.webp' %}" alt="linkedin">
                            </a>
                            <a href="javascript:void(0);" onclick="initiateCall('+91 XXXXXXXXXX')">
                                <img src="{% static 'images/call.png' %}" alt="call">
                            </a>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Member 2 -->
        <div class="team_members">
            <div class="member">
                <div class="image-container">
                    <a class="faculty_link" href="facultypage.html?faculty=Dr. Atchuta Rao Sadu" target="_parent">
                        <img src="https://www.mvgrce.com/sites/default/files/2017-06/Achut.jpg" alt="Image Description">
                    </a> 
                </div>
                <div class="description-container">
                    <div class="faculty_list">
                        <a class="faculty_link" href="facultypage.html?faculty=Dr. Atchuta Rao Sadu" target="_parent">
                            <p class="member_name">Dr. Atchuta Rao Sadu</p>
                        </a>
                        <p>M.Sc, Ph.D<br>ASSOCIATE PROFESSOR<br>DATA ENGINEERING</p>
                        <div class="contact-info">
                            <a href="https://www.linkedin.com/in/harshavardhan-vemali-334976259/" target="_blank">
                                <img src="{% static 'images/mail.webp' %}" alt="email">
                            </a>
                            <a href="https://www.linkedin.com/in/harshavardhan-vemali-334976259/" target="_blank">
                                <img src="{% static 'images/linkedin.webp' %}" alt="linkedin">
                            </a>
                            <a href="javascript:void(0);" onclick="initiateCall('+91 XXXXXXXXXX')">
                                <img src="{% static 'images/call.png' %}" alt="call">
                            </a>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Member 3 -->
        <div class="team_members">
            <div class="member">
                <div class="image-container">
                    <a class="faculty_link" href="facultypage.html?faculty=Dr. V. Jyothi" target="_parent">
                        <img src="https://www.mvgrce.com/sites/default/files/2017-11/Vadisila%20Jyothi.jpg" alt="Image Description">
                    </a> 
                </div>
                <div class="description-container">
                    <div class="faculty_list">
                        <a class="faculty_link" href="facultypage.html?faculty=Dr. V. Jyothi" target="_parent">
                            <p class="member_name">Dr. V. Jyothi</p>
                        </a>
                        <p>M.Tech, Ph.D<br>ASSOCIATE PROFESSOR<br>DATA ENGINEERING</p>
                        <div class="contact-info">
                            <a href="https://www.linkedin.com/in/harshavardhan-vemali-334976259/" target="_blank">
                                <img src="{% static 'images/mail.webp' %}" alt="email">
                            </a>
                            <a href="https://www.linkedin.com/in/harshavardhan-vemali-334976259/" target="_blank">
                                <img src="{% static 'images/linkedin.webp' %}" alt="linkedin">
                            </a>
                            <a href="javascript:void(0);" onclick="initiateCall('+91 XXXXXXXXXX')">
                                <img src="{% static 'images/call.png' %}" alt="call">
                            </a>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Member 4 -->
        <div class="team_members">
            <div class="member">
                <div class="image-container">
                    <a class="faculty_link" href="facultypage.html?faculty=Dr. P. Srinivasa Rao" target="_parent">
                        <img src="https://mvgrce.com/facultymanager/uploads/files/usqm0ytj14cgheb.jpg" alt="Image Description">
                    </a> 
                </div>
                <div class="description-container">
                    <div class="faculty_list">
                        <a class="faculty_link" href="facultypage.html?faculty=Dr. P. Srinivasa Rao" target="_parent">
                            <p class="member_name">Dr. P. Srinivasa Rao</p>
                        </a>
                        <p>Ph.D<br>ASSOCIATE PROFESSOR<br>DATA ENGINEERING</p>
                        <div class="contact-info">
                            <a href="https://www.linkedin.com/in/harshavardhan-vemali-334976259/" target="_blank">
                                <img src="{% static 'images/mail.webp' %}" alt="email">
                            </a>
                            <a href="https://www.linkedin.com/in/harshavardhan-vemali-334976259/" target="_blank">
                                <img src="{% static 'images/linkedin.webp' %}" alt="linkedin">
                            </a>
                            <a href="javascript:void(0);" onclick="initiateCall('+91 XXXXXXXXXX')">
                                <img src="{% static 'images/call.png' %}" alt="call">
                            </a>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Member 5 -->
        <div class="team_members">
            <div class="member">
                <div class="image-container">
                    <a class="faculty_link" href="facultypage.html?faculty=Sushma Rani N" target="_parent">
                        <img src="https://mvgrce.com/facultymanager/uploads/files/wkdmt8z5uj63y_p.jpg" alt="Image Description">
                    </a> 
                </div>
                <div class="description-container">
                    <div class="faculty_list">
                        <a class="faculty_link" href="facultypage.html?faculty=Sushma Rani N" target="_parent">
                            <p class="member_name">Sushma Rani N</p>
                        </a>
                        <p>M.Tech (PhD)<br>SR. ASSISTANT PROFESSOR<br>DATA ENGINEERING</p>
                        <div class="contact-info">
                            <a href="https://www.linkedin.com/in/harshavardhan-vemali-334976259/" target="_blank">
                                <img src="{% static 'images/mail.webp' %}" alt="email">
                            </a>
                            <a href="https://www.linkedin.com/in/harshavardhan-vemali-334976259/" target="_blank">
                                <img src="{% static 'images/linkedin.webp' %}" alt="linkedin">
                            </a>
                            <a href="javascript:void(0);" onclick="initiateCall('+91 XXXXXXXXXX')">
                                <img src="{% static 'images/call.png' %}" alt="call">
                            </a>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Member 6 -->
        <div class="team_members">
            <div class="member">
                <div class="image-container">
                    <a href="facultypage.html?faculty=G.Satya Narayana Reddy" target="_parent">
                        <img src="https://www.mvgrce.com/sites/default/files/2017-01/satyanarayana.jpg" alt="Image Description">
                    </a> 
                </div>
                <div class="description-container">
                    <div class="faculty_list">
                        <a class="faculty_link" href="facultypage.html?faculty=G.Satya Narayana Reddy" target="_parent">
                            <p class="member_name">G. Satya Narayana Reddy</p>
                        </a>
                        <p>M.Tech<br>DISTINGUISHED ASSISTANT PROFESSOR<br>DATA ENGINEERING</p>
                        <div class="contact-info">
                            <a href="https://www.linkedin.com/in/harshavardhan-vemali-334976259/" target="_blank">
                                <img src="{% static 'images/mail.webp' %}" alt="email">
                            </a>
                            <a href="https://www.linkedin.com/in/harshavardhan-vemali-334976259/" target="_blank">
                                <img src="{% static 'images/linkedin.webp' %}" alt="linkedin">
                            </a>
                            <a href="javascript:void(0);" onclick="initiateCall('+91 XXXXXXXXXX')">
                                <img src="{% static 'images/call.png' %}" alt="call">
                            </a>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Member 7 -->
        <div class="team_members">
            <div class="member">
                <div class="image-container">
                    <a class="faculty_link" href="facultypage.html?faculty=Mr. Sura Paparao" target="_parent">
                        <img src="https://mvgrce.com/facultymanager/uploads/files/9mql5huka43_vne.jpg" alt="Image Description">
                    </a> 
                </div>
                <div class="description-container">
                    <div class="faculty_list">
                        <a class="faculty_link" href="facultypage.html?faculty=Mr. Sura Paparao" target="_parent">
                            <p class="member_name">Mr. Sura Paparao</p>
                        </a>
                        <p>M.Tech<br>ASSISTANT PROFESSOR<br>DATA ENGINEERING</p>
                        <div class="contact-info">
                            <a href="https://www.linkedin.com/in/harshavardhan-vemali-334976259/" target="_blank">
                                <img src="{% static 'images/mail.webp' %}" alt="email">
                            </a>
                            <a href="https://www.linkedin.com/in/harshavardhan-vemali-334976259/" target="_blank">
                                <img src="{% static 'images/linkedin.webp' %}" alt="linkedin">
                            </a>
                            <a href="javascript:void(0);" onclick="initiateCall('+91 XXXXXXXXXX')">
                                <img src="{% static 'images/call.png' %}" alt="call">
                            </a>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Member 8 -->
        <div class="team_members">
            <div class="member">
                <div class="image-container">
                    <a class="faculty_link" href="facultypage.html?faculty=Mr. Vella Manikanta" target="_parent">
                        <img src="https://mvgrce.com/facultymanager/uploads/files/gp_lfja680uis7e.jpg" alt="Image Description">
                    </a>
                </div>
                <div class="description-container">
                    <div class="faculty_list">
                        <a class="faculty_link" href="facultypage.html?faculty=Mr. Vella Manikanta" target="_parent">
                            <p class="member_name">Mr. Vella Manikanta</p>
                        </a>
                        <p>M.Tech, Ph.D<br>ASSISTANT PROFESSOR<br>DATA ENGINEERING</p>
                        <div class="contact-info">
                            <a href="https://www.linkedin.com/in/harshavardhan-vemali-334976259/" target="_blank">
                                <img src="{% static 'images/mail.webp' %}" alt="email">
                            </a>
                            <a href="https://www.linkedin.com/in/harshavardhan-vemali-334976259/" target="_blank">
                                <img src="{% static 'images/linkedin.webp' %}" alt="linkedin">
                            </a>
                            <a href="javascript:void(0);" onclick="initiateCall('+91 XXXXXXXXXX')">
                                <img src="{% static 'images/call.png' %}" alt="call">
                            </a>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</section>
    </body>
    <footer>
        <h2>Follow Us On</h2>
        <div id="footer_links">
            <a href="https://www.linkedin.com/in/harshavardhan-vemali-334976259/">
                <img src="https://cdn-icons-png.flaticon.com/512/2673/2673871.png" alt="linked in">
                <span>Linked-in</span>
            </a> 
            <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSHvbKtqXmvxCqTRCSHfKQfrVLczjWpqJkfXMcZgFbWwxldrDnqxDKwLpbgCpTzmCvVQFbrS">
                <img src="https://cdn-icons-png.freepik.com/256/3621/3621435.png?semt=ais_hybrid" alt="Instagram">
                <span>Instagram</span>
            </a>
            <a href="https://github.com/">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/5a/X_icon_2.svg" alt="X">
                <span>Twitter</span>
            </a>
            <a href="https://github.com/">
                <img src="https://cdn-icons-png.flaticon.com/256/1384/1384060.png" alt="Youtube">
                <span>YouTube</span>
            </a>
        </div>
        <h4>&copy; 2024. All rights reserved to <a href="https://harshaswebpage.netlify.app/" target="_blank" rel="noopener noreferrer">V.HarshaVardhan(Dept of Data Engineering)</a>.</h4>
    </footer>
</html>