<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MVGR DATA ENGINEERING</title>
        <link rel="stylesheet" href="styles.css">
        <script src="scripts.js"></script>
        <link rel="icon" type="image/png" sizes="32x32" href="/static/images/department_logo.png">
        <!-- Load static template tags -->
        {% load static %}
        <!-- Reference static CSS file -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/attendance.css' %}">
        <!-- Reference static JavaScript file -->
        <script src="{% static 'js/scripts.js' %}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
    <body>
        <header>
            <div id="college_title">
                <div id="college_logo">
                    <a href="https://www.mvgrce.com/" target="_blank">
                        <img src="{% static 'images/college_logo.png' %}" alt="college_logo">
                    </a>
                </div>
                <div id="college_sub_title">
                    <h1>Maharaj Vijayaram Gajapathi Raj College of Engineering (Autonomous)</h1>
                    <h1 id="dept_name1">Department Of Data Engineering</h1>
                </div>
                <div id="department_logo">
                    <a href="{% url 'index' %}" target="_parent">
                        <img src="{% static 'images/department_logo.png' %}" alt="college_logo">
                    </a>
                </div>
            </div>
            <div id="nav_bar">
                <ul id="navbar">
                    <li><a class="nav-link" href="{% url 'index' %}"><span>Home</span></a></li>
                    <li><a class="nav-link" href="{% url 'about' %}"><span>About</span></a></li>
                    <li><a class="nav-link" href="{% url 'faculty' %}"><span>Faculty</span></a></li>
                    <li><a class="nav-link" href="{% url 'regulation' %}"><span>Regulation</span></a></li>
                    <li><a class="nav-link" href="{% url 'librarylogin' %}"><span>Library</span></a></li>
                    <li><a class="nav-link" href="{% url 'attendance' %}"><span>Attendance</span></a></li>
                    <li><a class="nav-link" href="{% url 'contact' %}"><span>Contact</span></a></li>
                    
                </ul>
            </div>
            <div class="dropdown">
                <button class="dropbtn">☰</button>
                <div class="dropdown-content">
                    <a href="{% url 'index' %}">Home</a>
                    <a href="{% url 'about' %}">About</a>
                    <a href="{% url 'faculty' %}">Faculty</a>
                    <a href="{% url 'regulation' %}">Regulation</a>
                    <a href="{% url 'attendance' %}">Attendance</a>
                    <a href="{% url 'contact' %}">Contact</a>
                </div>
              </div>
        </header>
        <div class="attendance-login" id="library-login">
            <div class="login-container">
                <div class="login-container-head">
                    <a href="https://www.mvgrce.com/" target="_blank">
                        <img src="{% static 'images/college_logo.png' %}" alt="college_logo">
                    </a>
                    <h2>Student Login</h2>
                    <a id="img2">
                        <img src="{% static 'images/department_logo.png' %}" alt="college_logo">
                    </a>
                </div>
                <p class="error-message" id="error-message">{% if error_message %}{{ error_message }}{% endif %}</p>
                <form id="login-form" method="POST" action="{% url 'librarylogin' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="username" name="username" placeholder="Username" required>
                    </div>
                    <div class="form-group" id="password-field">
                        <input type="password" id="password" name="password" placeholder="Password" required>
                        <span class="toggle-password" onclick="togglePasswordVisibility()">
                            <i class="fa fa-eye"></i>
                        </span>
                    </div>
                    <button type="submit" class="btn-login">Login</button>
                </form>         
            </div>
        </div> 
    </body>
    <footer>
        <h2>Follow Us On</h2>
        <div id="footer_links">
            <a href="https://www.linkedin.com/in/harshavardhan-vemali-334976259/">
                <img src="https://cdn-icons-png.flaticon.com/512/2673/2673871.png" alt="linked in">
                <p>Linked-in</p>
            </a> 
            <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSHvbKtqXmvxCqTRCSHfKQfrVLczjWpqJkfXMcZgFbWwxldrDnqxDKwLpbgCpTzmCvVQFbrS">
                <img src="https://cdn-icons-png.freepik.com/256/3621/3621435.png?semt=ais_hybrid" alt="Instagram">
                <p>Instagram</p>
            </a>
            <a href="https://github.com/">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/5a/X_icon_2.svg" alt="X">
                <p>Twitter</p>
            </a>
            <a href="https://github.com/">
                <img src="https://cdn-icons-png.flaticon.com/256/1384/1384060.png" alt="Youtube">
                <p>YouTube</p>
            </a>
        </div>
        <h4>© 2024. All rights reserved to <a href="https://harshaswebpage.netlify.app/" target="_blank" rel="noopener noreferrer">V.HarshaVardhan(Dept of Data Engineering)</a>.</h4>
    </footer>
    <script>
        function togglePasswordVisibility() {
            var passwordField = document.getElementById("password");
            var icon = document.querySelector(".toggle-password i");
    
            if (passwordField.type === "password") {
                passwordField.type = "text";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                passwordField.type = "password";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        }
    </script> 
</html>